<div id="ModalDialog" style="display: none" data-backdrop="false">
    <div id="FullImageBox">
        <img class="imageFull" src="">
        <div id="imageControl">
            <button class="photo_edit"><i class="material-icons">rotate_left</i></button>
            <button id="FullImagePrevious"><i class="material-icons">navigate_before</i></button>
            <button class="FullImageClose"><i class="material-icons">close</i></button>
            <button id="FullImageNext"><i class="material-icons">navigate_next</i></button>
            <button class="photo_edit"><i class="material-icons">rotate_right</i></button>
            <button class="photo_edit"><i class="material-icons">delete</i></button>
        </div>
    </div>
</div>