/// CSRF ///
// using jQuery

function changelang() {
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie != '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    if (getCookie !== undefined) {
        let token_field = $('[name=csrfmiddlewaretoken]');
        let csrf_from_cookie = getCookie('csrftoken');
        if (token_field !== undefined && csrf_from_cookie !== undefined) {
            token_field.val(csrf_from_cookie);
        }
    }
    $("form[name='language_switch_form']").submit()
}
