img {  
    border-style: none;
}

.card {
    border: 1px solid #ddd;
    box-shadow: 0 0 4px #e3e5eb;
    margin: 5px 0 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding-left: 1px;
}

.fakecard {
    border: 1px solid #ddd;
    box-shadow: 0 0 4px #e3e5eb;
    margin: 5px 0 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding-left: 1px;
}

.selected {
    border-left: 2px solid blue;
    padding-left: 0px;
}

.preloaded {
    display: none;
    visibility: hidden;
}
    
.card header {
    padding-left: 5px;
    padding-right: 15px;
}

.card header h2 {
     margin-bottom: 0;
}

.card header h2 a{
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(17, 85, 204);
}

.seen header h2 a{
    color: rgb(0, 0, 0);
}

.selected header h2 a{
    color: rgb(17, 85, 204);
}

.card footer {
    background-color: rgb(250, 250, 250);
    border-top-color: rgb(235, 235, 235);
    border-top-style: solid;
    border-top-width: 1px;
    padding: 10px;
}

.card .entry-date {
    float: right;
    font-size: 13px;
    color: rgb(102, 102, 102);
}

.card .entry-sources {
    color: rgb(102, 102, 102);
    font-size: 13px;
}


.card .entry-sources a {
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(17, 85, 204);
}

.seen .entry-sources a {
    color: rgb(0, 0, 0);
}

.selected .entry-sources a {
    color: rgb(17, 85, 204);
}

.card .entry-description {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    min-height: 50px;
}

.card .entry-description img {
    float: left;
    margin-right: 10px;
    max-width: 150px;
    max-height: 100px;
}


.inline {
    position: relative;
    display: inline-block;
}

.tagarea {
    margin-top: 2px;
    padding: 10px;
    background-color: white;
}

.tagarea a{
    text-decoration: none;
    color: black;
}

.socialmediaarea {
    margin-top: 2px;
    padding: 10px;
    background-color: white;
}
.tagloading {
	display:inline-block;
	border:1px solid #ff9a1a;
	border-bottom-color:#ff6201;
	background-color:#d3d3d3;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background-image:
		-webkit-linear-gradient(
		-45deg,
		rgba(255, 154, 26, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 154, 26, 1) 50%,
		rgba(255, 154, 26, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		-moz-linear-gradient(
		-45deg,
		rgba(255, 154, 26, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 154, 26, 1) 50%,
		rgba(255, 154, 26, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		-ms-linear-gradient(
		-45deg,
		rgba(255, 154, 26, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 154, 26, 1) 50%,
		rgba(255, 154, 26, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		linear-gradient(
		-45deg,
		rgba(255, 154, 26, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 154, 26, 1) 50%,
		rgba(255, 154, 26, 1) 75%,
		transparent 75%,
		transparent
	);
	-webkit-background-size:50px 50px;
	-moz-background-size:50px 50px;
	-ms-background-size:50px 50px;
	background-size:50px 50px;
	-webkit-animation:move 2s linear infinite;
	-moz-animation:move 2s linear infinite;
	-ms-animation:move 2s linear infinite;
	animation:move 2s linear infinite;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	overflow: hidden;
	-webkit-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-moz-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-ms-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
}

/*
Animate the stripes
*/	
@-webkit-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@-moz-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@-ms-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	

/* Basic tag style*/
.tag {
    display: inline;
    border: 1px solid #414E26;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    padding: 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: helvetica;
    font-size: 13px;
    cursor:pointer;
}


.tag a {
    font-weight: bold;
    text-decoration: none;
    font-size: 11px;
    cursor:pointer;
}

.tag span{
    font-family: helvetica;
    font-size: 13px;
    cursor:pointer;
}

.tag img {
    float: left;
}

.tag .ano_tag {
    margin-top: 1px;
    height: 16px;
    margin-left: 5px;
    float: left;
}

/* Tag Colors /////////////////////// */
{% include "css/elem/tag_color_list.css.html" %}

/* /////////////////////// */

.button {
    color: #444;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    
    margin-top: 5px;

    height: 27px;
    line-height: 27px;
    min-width: 21px;
    outline: 0;
    padding: 0 8px;
    
    z-index: 1;
    
}

.new_tag_field {
    height: 12px;
    margin: 0;
    padding: 0;
    width: 6em;
}

.button a{
    color: #444;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.button a:hover{
    color: #222;
}

.button img {
    opacity : 0.55;
    margin-top: -3px;
    vertical-align: middle;
}

.button:hover img {
    opacity : 0.9;
}

.button:hover {
    -moz-box-shadow:    0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow:         0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.activeButton {
    background-color: #e5e5e5;
    }

.dropdown {
    
    border-color: #777 transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    height: 0;
    width: 0;
    position: absolute;
    right: 5px;
    top: 12px;
}


.menu {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-transition: opacity .218s;
    -moz-transition: opacity .218s;
    -o-transition: opacity .218s;
    transition: opacity .218s;
    background: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    cursor: default;
    font-size: 13px;
    margin: 0;
    outline: none;
    padding: 6px 0;
    position: absolute;
    font-family: arial, sans-serif;
    font-size: 13px;
    z-index: 100;
    /*set by js*/
    left: 1449px;
}

.menuitem {
    position: relative;
    color: #333;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 6px 2em 6px 30px;
    white-space: nowrap;
}

.menuitem a{
    color: #444;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.menuitem a:hover{
    color: #222;
}

.menuitem:hover {
    background-color:#eee;
    border-color:#eee;
    border-style:dotted;
    border-width:1px 0;
    padding-top:5px;
    padding-bottom:5px; 
    color:#333;
}

.menuseparator {
    border-top: 1px solid #ebebeb;
    margin-top: 6px;
    margin-bottom: 6px;
}

.tagButton {
    /*width : 80px;*/
}
.typeButton {
    width : 80px;
    margin-right: 10px;
}

.downButton {
    margin-right: 10px;
}

.settingsButton {
    margin-right: 10px;
}

.refreshButton {
    margin-right: 10px;
}

#navigation {
    border-bottom-color: rgb(235, 235, 235);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    text-align: right;
}

#feed {
    overflow: auto;
    height: 550px;
    padding-right: 5px;
    max-width: 60em;
    margin-left:auto;
    margin-right:auto;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nobr { 
    white-space:nowrap; 
}

